html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Livvic", "Arial", sans-serif;
  font-size: 14px;
}



.header {
  background-color: #4B2F48;
  box-shadow: 0px 3px 15px black;
}


h1 {
  font-weight: bold;
}

.header-nav {
  padding-top: 15px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-link img {
  width: 100px;
  height: 50px;
  object-fit: cover;

}

.logo,
.logo-link {
  transition: 0.5s ease opacity,
    0.5s ease transform;
}

.logo:hover,
.logo-link:hover {
  opacity: 0.7;
  transform: scale(1.2);
}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.social-link {
  display: block;
  padding: 5px;
}

.social-link img {
  display: block;
  width: 20px;
  height: 20px;
  transition: 0.5s ease opacity,
    0.5s ease transform;
}

.social-link img:hover {
  opacity: 0.7;
  transform: rotate(10deg);
}

.phone-link {
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: 0.3s ease color,
    0.3s ease transform;
}

.phone-link:hover {
  color: #03A9F5;
  transform: scale(1.2);
  text-decoration: none;
}

.tovar {
  margin-bottom: 15px;
  box-shadow: 0px 5px 5px gray;

}

.footer {
  background-color: #4B2F48;
  box-shadow: 0px -3px 15px black;

}

.footer .phone-link {
  font-size: 18px;
}

.footer .social-link img {
  display: block;
  width: 30px;
  height: 30px;
  transition: 0.5s ease opacity,
    0.5s ease transform;
}

.footer .social-link {
  display: block;
  padding: 5px;
  margin: 10px;
}

.footer-nav {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.backpic {
  width:100%;
  height: 50vh;
  background-image: url('../img/wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


@media only screen and (max-width: 768px) {
  .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer .phone-link {
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
  }

  .footer .logo-wrapper {
    order: 3;
  }

  .backpic{
    display: none;
  }

}


@media only screen and (max-width: 395px) {

  .logo-link img {
    width: 75px;
    height: 35px;
    object-fit: cover;

  }

  .phone-link {
    font-size: 13px;
  }

  .social-link img {
    display: block;
    width: 15px;
    height: 15px;
    transition: 0.5s ease opacity,
      0.5s ease transform;
  }

}